$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover, a.active';

@mixin background-image($file, $type, $width, $height, $start: null, $finish: null, $direction: null) {
	$gradient: '';
	@if $start {
		$gradient: 'linear-gradient(#{$direction}, #{$start}, #{$finish}), ';
	}
	background-image: #{$gradient} url($file+'.'+$type);
	background-size: $width $height;
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
		& {
			background-image: #{$gradient} url($file+'@2x.'+$type);
		}
	}
}

@mixin bp($point) {
	$bp-desktop: '(min-width: 1024px)';

	@if $point == desktop {
		@media #{$bp-desktop} {
			@content;
		}
	}
}
