$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover, a.active';

@mixin background-image($file, $type, $width, $height, $start: null, $finish: null, $direction: null) {
	$gradient: '';
	@if $start {
		$gradient: 'linear-gradient(#{$direction}, #{$start}, #{$finish}), ';
	}
	background-image: #{$gradient} url($file+'.'+$type);
	background-size: $width $height;
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
		& {
			background-image: #{$gradient} url($file+'@2x.'+$type);
		}
	}
}

@mixin bp($point) {
	$bp-desktop: '(min-width: 1024px)';

	@if $point == desktop {
		@media #{$bp-desktop} {
			@content;
		}
	}
}

@keyframes glitch-anim {
	$steps: 10;
	@for $i from 0 through $steps {
		0% {
			clip: rect(0, 0, 0, 0);
		}
		59% {
			clip: rect(0, 0, 0, 0);
		}
		#{percentage(0.60 + $i*(0.30/$steps))} {
			left: -10 + random(20) + px;
			top: random(25) + px;
			clip: rect(random(75) + px, 9999px, random(125) + px, 0);
		}
	}
}